/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

.uk-link,
a {
  color: #999 !important;
}
.uk-link,
a:hover {
  color: #666 !important;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  text-align: center;
}
.preloader-icon {
  position: relative;
  top: 45%;
  width: 100px;
  border-radius: 50%;
  animation: shake 1.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  10% {
    transform: translate(1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, -5px) rotate(-3deg);
  }
  30% {
    transform: translate(1px, -7px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -9px) rotate(1deg);
  }
  50% {
    transform: translate(1px, -11px) rotate(3deg);
  }
  60% {
    transform: translate(1px, -9px) rotate(0deg);
  }
  70% {
    transform: translate(1px, -7px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, -5px) rotate(-3deg);
  }
  90% {
    transform: translate(1px, -3px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html body {
  background-color: #fefdfa;
}

body {
  font-family: "Quicksand", sans-serif !important;
  color: #666;
}

/* #home {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
#home .section__outline {
  scroll-snap-align: start;
} */

h1 {
  font-family: Alice !important;
  color: #666 !important;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0 0 6px 0 !important;
  /* border: 1px solid orangered; */
}
h2 {
  font-family: Alice !important;
  color: #666 !important;
}

h3 {
  font-family: Alice !important;
  color: #666 !important;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  /* font-family: Alice; */
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  /* font-family: Alice; */
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.project__context {
  font-size: 14px;
}
/* ------------ */
/* Customised   */
/* ------------ */

.thumbSlider {
  /* margin-left: auto;
  margin-right: auto; */
  margin: 50px 0px;
}

.thumbSlider H1 {
  color: white;
}

.objFix {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ------------ */
/* overwrite    */
/* ------------ */

.uk-navbar-container .navItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  min-height: 80px;
  padding: 0 15px;
  font-size: 0.875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.uk-navbar-nav li {
  white-space: nowrap;
}

.uk-button {
  padding: 0 20px !important;
}
/* SHIFT */
.shift ul li a {
  position: relative;
  z-index: 1;
}
.shift ul li a:hover {
  color: #91640f;
}
.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* right: 0; */
  margin: auto;
  width: 1px;
  height: 50%;
  content: ".";
  color: transparent;
  /* background: #edebe6; */
  background: url(../img/deco_nav.png) no-repeat;
  background-size: cover;
  visibility: none;
  opacity: 0;
  z-index: -1;
  /* border: 1px solid brown; */
}
.shift ul li a:hover:after {
  opacity: 0.8;
  visibility: visible;
  width: 100px;
}

.shift ul li a,
.shift ul li a:after,
.shift ul li a:before {
  transition: all 0.5s;
}

.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  padding: 0 !important;
}
.uk-navbar-container .navItem {
  padding: 0 30px;
}

#onlineCV .uk-accordion-title {
  text-align: center;
}
.uk-grid {
  padding: 8% !important;
}
/* ------------ */
/* Landing      */
/* ------------ */
#landingPg {
  background: url(../img/bg_landing_Splash.png) no-repeat;
}

#landingtxt__pocket {
  position: absolute;
  left: 10%;
  width: 30%;
  /* some gaps when it is not centralised view. */
  /* border: 1px solid brown; */
}

/* Mobile view has no hero image and everything centerialise */
@media (max-width: 640px) {
  #landingtxt__pocket {
    position: absolute;
    left: auto;
    width: 60%;
    text-align: center;
  }
  .landingtxt__btn__pocket {
    text-align: center;
  }
  .deco_btn_dot {
    bottom: auto;
    left: calc(50% - 110px) !important;
  }
  #landingimg {
    display: none;
  }
}

#scrollAni {
  position: absolute;
  bottom: 100px;
}

#decoScroll {
  position: absolute;
  bottom: -90px;
}

.deco_btn_dot {
  position: absolute;
  bottom: -55px;
  left: -50px;
}

.landingimg {
  /* position: relative; */
  border: 1px solid blue;
}

.layer {
  position: absolute;
}

#landingPhoto {
  height: auto;
  max-width: 50%;
  object-fit: cover;
  right: 20%;
  bottom: 20%;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 320px solid #fde9e9;
  border-left: 450px solid transparent;
  right: 10%;
  bottom: 15%;
}

#square {
  width: 525px;
  height: 460px;
  background: #faf2e2;
  right: 20%;
  bottom: 25%;
}

/* ------------ */
/* SecondIntro  */
/* ------------ */

#secondIntro {
  background: url(../img/bg_second.png) center center no-repeat;
  background-size: cover;
}
#secondIntro .content__brim {
  /* background-color: #fefdfb; */
  /* border: 1px solid brown; */
  width: 90%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}
/* ------------ */
/* Panels C     */
/* ------------ */

#rightMain .panelslide {
  position: absolute;
  right: 0;
  width: 60vw;
}

#rightMain .paneltxtC__area {
  position: absolute;
  left: 15vw;
  padding: 20px;
  /* border: 1px solid red; */
}

#leftMain .panelslide {
  position: absolute;
  left: 0;
  width: 60vw;
}

#leftMain .paneltxtC__area {
  position: absolute;
  right: 15vw;
  padding: 50px 30px;
  /* border: 1px solid red; */
}

/*---- mini ----*/
@media only screen and (max-width: 960px) {
  .panelslide,
  .paneltxtC__area {
    /* border: orange 1px solid; */
  }

  .paneltxtC__area {
    position: absolute;
    bottom: 0;
    left: unset;
    right: unset;
    width: 100%;
    height: 20vh;
    padding: 50px 0px !important;
    text-align: center;
    font-size: 0.6em;
  }

  #rightMain .panelslide {
    position: absolute;
    top: 0;
    width: 100vw;
  }

  #rightMain .paneltxtC__area {
    background: url(../img/bg_right.png) right center no-repeat;
    background-size: contain;
    background-color: #fff;
    left: unset;
    right: unset;
  }

  #leftMain .panelslide {
    position: absolute;
    top: 0;
    width: 100vw;
  }

  #leftMain .paneltxtC__area {
    background: url(../img/bg_left.png) left center no-repeat;
    background-size: contain;
    background-color: #fff;
    left: unset;
    right: unset;
  }
  .dotnav__mobile {
    /* border: orange 1px solid; */
    margin-bottom: 10px !important;
  }
}

/* ------------ */
/* Panels       */
/* ------------ */
.paneltxt__pocket {
  width: 40%;
  padding: 5%;
  /* border: 1px solid pink; */
}

.paneltxt__caption {
  padding: 10px 0;
  /* border: 1px solid pink; */
}

.panelthb {
  position: absolute;
  background-color: grey;
  right: 0;
  height: 100%;
  width: 25%;
}

.panelthb__01,
.panelthb__02 {
  height: 50%;
}

.panelthb__01,
.panelthb__02 {
  background-color: #faf2e2;
}

#rightMain .content__brim {
  position: relative;
  background-color: #fefdfa;
  width: 90%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid brown; */
}

#rightMain .paneltxt__pocket {
  position: absolute;
  bottom: 0;
}

#leftMain .content__brim {
  position: relative;
  background-color: #fefdfa;
  width: 90%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid brown; */
}

#leftMain .paneltxt__pocket {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  width: 50%;
}

#leftMain .panelthb {
  position: absolute;
  background-color: white;
  left: 0;
  height: 100%;
  width: 25%;
}

/*-- tablet landscape --*/

@media (max-width: 960px) {
  #leftMain .panelthb,
  #rightMain .panelthb {
    width: 40%;
  }
}
/*---- mini ----*/
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .paneltxt__area {
    height: 80%;
  }

  #leftMain .panelthb,
  #rightMain .panelthb {
    bottom: 0;
    height: 25%;
    width: 100%;
  }
  .panelthb__01,
  .panelthb__02 {
    height: 100%;
    width: 50%;
  }
  .panelthb__02 {
    position: absolute;
    right: 0;
    top: 0;
  }

  #leftMain .paneltxt__pocket,
  #rightMain .paneltxt__pocket {
    font-size: small;
    width: 60%;
    bottom: auto;
    position: static;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }

  #ani-rect01 {
    top: 4%;
    width: 30%;
  }
  #ani-rect02 {
    top: 60%;
    right: 0;
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .panelslide,
  .paneltxtC__area {
    /* border: blueviolet 1px solid; */
  }
  .dotnav__mobile {
    bottom: 10px !important;
    /* margin-bottom: 8vh */
    /* border: blueviolet 1px solid; */
  }
}
/* ------------ */
/* Manage       */
/* ------------ */
#manageMain {
  background: url(../img/bg_fourth.png) center center no-repeat;
  background-size: cover;
  margin-bottom: 20%;
}
#manageMain .content .content__brim {
  background-color: #fefdfb;
  width: 70vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid brown;
  padding: 8% 10%;
}

/* #manageMain .managetxt__pocket {
  border: 1px solid pink;
} */

/* 
#manageMain .managetxt__text {
  border: 1px solid brown;
  margin-bottom: 10px; 
}*/

#manageMain .managetxt__client img {
  margin: 2%;
  max-height: 65px;
  /* margin: 18px; */
  /* border: 1px solid blue; */
}

/* ------------ */
/* Footer       */
/* ------------ */

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #e6e6e6;
  font-size: small;
  text-align: center;
}

#skillG .footer {
  position: absolute;
}
.footer .footer-pocket {
  position: relative;
  top: 9px;
}
#contactme {
  background-image: url(../img/bg_footer.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

#contactme .contacttxt__pocket {
  text-align: center;
  /* border: 1px solid red; */
}

#contactme .contacttxt__text {
  font-size: x-large;
  /* border: 1px solid orange; */
}

.contactme-icon {
  margin: 25px 10px;
  font-size: xx-large;
  /* border: 1px solid orange; */
}

/* ------------ */
/* About Me     */
/* ------------ */

#aboutMe {
  background: url(../img/bg_abt02.png) right bottom no-repeat,
    url(../img/bg_abt01.png) left top no-repeat;
}

#aboutMe .aboutme__character img {
  padding: 20px 0;
  width: 180px;
  /* border: 1px solid violet; */
}

#aboutMe .text-content {
  /* width: 70%; */
  max-width: 60%;
}
/* ------------ */
/* Gallery      */
/* ------------ */

#logoG,
#IllustG,
#mascotG,
#psdtutG,
#printG,
#mainG,
#creative,
#codeG {
  background-color: #f6f4f0;
}

.gallery-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-content {
  width: 90%;
}

#psdtutG .text-container {
  margin-bottom: 30px;
}

.ads {
  height: 250px;
}

pre.scjSnipplet {
  max-height: 250px;
  margin-top: 0 !important;
}

#printG .textpanel-right .text-container {
  margin: 0 55px;
}
#printG .textpanel-right .text-content {
  margin-top: 30px;
  width: auto;
}

#mascotG .textpanel-right .text-container {
  margin: 0 55px;
}
#mascotG .textpanel-right .text-content {
  margin-top: 30px;
  width: auto;
}

#psdtutG .textpanel-right .text-container {
  margin: 0 55px;
}
#psdtutG .textpanel-right .text-content {
  margin-top: 30px;
  width: auto;
}

.thumbNav {
  padding: 5%;
}
.thumbNav img {
  /* border-radius: 50%; */
  width: 80px;
  height: 80px;
}
.thumbNav a:hover {
  text-decoration: none;
}

.cirNav {
  border-radius: 50%;
}
/* ------------------------ */
/* Footer Nav               */
/* ------------------------ */
.logo-module {
  margin-left: 5%;
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.footer-navbtn-left,
.footer-navbtn-right {
  display: flex; /* uk-flex */
  align-items: center; /* uk-flex-middle */
  height: 200px;
  width: 50vw;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

  font-size: x-large;
  color: #999;
  font-weight: 400;
}
.footer-navbtn-left {
  position: absolute;
  left: 0;
}
.footer-navbtn-right {
  position: absolute;
  right: 0;
}
.footer-navbtn-left:hover {
  width: 60vw;
  color: #666;
}

.footer-navbtn-right:hover {
  width: 60vw;
  color: #666;
}
.st0 {
  fill: #666;
}
.footer-navbtn-left:hover .st0 {
  fill: #dad0e8;
}
.footer-navbtn-right:hover .st0 {
  fill: #dad0e8;
}
/* ------------------------ */
/* Animation Last section   */
/* ------------------------ */
/* --- set --- */
#ani-rect01 {
  position: absolute;
  top: 0;
  /* border: 1px solid grey; */
}

#ani-rect02 {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 1px solid grey; */
}
/* --- animate --- */
.bounce {
  transition: all 0.8s;
  color: #1e87f0;
}
/* .bounce .uk-link,
.bounce a {
  color: #1e87f0 !important;
} */

.bounce:hover {
  transform: translateY(-10px);
  text-decoration: none;
}
/* --- */
.scrollAni-arrow-sec a {
  position: relative;
  bottom: 5px;
  /* left: 50%; */
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #9e9e9e;
  font-family: "avenir", sans-serif;
  /* font   : normal 400 20px/1 'Josefin Sans', sans-serif; */
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.scrollAni-arrow-sec a:hover {
  opacity: 0.5;
}

#scrollAni-arrow a {
  padding-top: 50px;
  position: relative;
  top: 90px;
}

#scrollAni-arrow a span {
  position: absolute;
  top: 0;
  /* left: 50%; */
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#scrollAni-arrow a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#scrollAni-arrow a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#scrollAni-arrow a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* ==========================================================================
   Transistion Page
   ========================================================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a2cdff;
  transform: scale(0);
  transform-origin: top;
  z-index: 100;
}

.transition-fade {
  transition: 0.4s;
  transform: translateY(0);
}
html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-800px);
}

.transition-wipe {
  transition: 0.8s;
  transform: scaleY(0);
}
html.is-animating .transition-wipe {
  transform: scaleY(1);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;

    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* Black prints faster */

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
